body{
    width: 50%;
    border: 2px solid blue;
}
header{
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}
header h1{
    display: inline-block;
    vertical-align: middle;
}
aside{
    margin: 0px;
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;

}
aside a{
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}
main{
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}
footer{
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}
body{
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    grid-template-columns: 100px auto;
    gap: 10px;
}
header{
    grid-area: header;
}
main{
    grid-aria: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}